$blue: #f0f7fe;
$blue-100: #deecfb;
$blue-200: #c4dff9;
$blue-300: #9bcaf5;
$blue-400: #6cadee;
$blue-500: #4a8fe7;
$blue-600: #3572db;
$blue-700: #2c5ec9;
$blue-800: #2b50aa;
$blue-900: #264382;

$woodsmoke: #f3f6f8;
$woodsmoke-100: #e0e6ed;
$woodsmoke-200: #c4cfdd;
$woodsmoke-300: #9cafc4;
$woodsmoke-400: #6b84a5;
$woodsmoke-500: #50688a;
$woodsmoke-600: #455775;
$woodsmoke-700: #3d4a61;
$woodsmoke-800: #384152;
$woodsmoke-900: #171a21;

$black: #242424;
$black-100: #1f1f1f;
$black-200: #000000;

$heath: #fff1f1;
$heath-100: #ffe1e1;
$heath-200: #ffc8c8;
$heath-300: #ffa1a1;
$heath-400: #fe6b6b;
$heath-500: #f63d3d;
$heath-600: #e41e1e;
$heath-700: #c01515;
$heath-800: #9e1616;
$heath-900: #5a1111;
