@use "./styles/colors" as color;

@font-face {
  font-family: "Garamond";
  src: url("./assets/fonts/Garamond.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  src: url("./assets/fonts/Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: "Marvel";
  src: url("./assets/fonts/Marvel.ttf") format("truetype");
}

$garamond: Garamond, serif;
$helvetica: Helvetica, sans-serif;
$marvel: Marvel, cursive;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: color.$woodsmoke-900;
  font-family: $helvetica;
  overflow-x: hidden;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

button {
  cursor: pointer;
  background: none;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: color.$blue-700;
}

*::-webkit-scrollbar-thumb {
  background-color: color.$blue-500;
}
